# Tips
# hook_addはプラグイン追加後
# hook_sourceはプラグイン読み込み前
# hook_post_sourceはプラグイン読み込み後

[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'Shougo/unite.vim'
hook_add = '''
nnoremap <silent> fb :<C-u>Unite buffer<CR>
'''

[[plugins]]
repo = 'osyo-manga/unite-quickfix'
depends = 'unite.vim'

[[plugins]]
repo = 'Shougo/vimfiler.vim'
depends = 'unite.vim'

[[plugins]]
repo = 'scrooloose/nerdtree'
hook_add = '''
source ~/.config/nvim/plugins/nerdtree.rc.vim
'''

[[plugins]]
repo = 'Xuyuanp/nerdtree-git-plugin'

[[plugins]]
repo = 'Townk/vim-autoclose'

[[plugins]]
repo = 'Shougo/vimproc.vim'
if = "!has('nvim')"
build = 'make'
hook_post_update = '''
  if dein#util#_is_windows()
    let cmd = 'tools\\update-dll-mingw'
  elseif dein#util#_is_cygwin()
    let cmd = 'make -f make_cygwin.mak'
  elseif dein#util#_is_mac()
    let cmd = 'make -f make_mac.mak'
  elseif executable('gmake')
    let cmd = 'gmake'
  else
    let cmd = 'make'
  endif
  let g:dein#plugin.build = cmd
'''

# ==========================================================
# colorscheme
# ==========================================================

[[plugins]]
repo = 'tomasr/molokai'

[[plugins]]
repo = 'vim-scripts/Wombat'

[[plugins]]
repo = 'itchyny/landscape.vim'

# ==========================================================
# lightline
# ==========================================================

[[plugins]]
repo = 'itchyny/lightline.vim'
hook_add = '''
source ~/.config/nvim/plugins/lightline.rc.vim
'''

[[plugins]]
repo = 'majutsushi/tagbar'

[[plugins]]
repo = 'tpope/vim-fugitive'

#[[plugins]]
#repo = 'vim-airline/vim-airline'
#if = "has('nvim')"
#depends = ['tagbar', 'vim-fugitive']
#hook_add = '''
#source ~/.config/nvim/plugins/airline.rc.vim
#'''

[[plugins]]
repo = 'vim-airline/vim-airline-themes'

# ==========================================================
# Git
# ==========================================================

[[plugins]]
repo = 'airblade/vim-gitgutter'
hook_add = '''
let g:gitgutter_sign_added = '+'
let g:gitgutter_sign_modified = '*'
let g:gitgutter_sign_removed = '-'
'''

# ==========================================================
# for vim8 compatible neovim
# ==========================================================

[[plugins]]
repo = "roxma/vim-hug-neovim-rpc"
if = "!has('nvim')"

[[plugins]]
repo = "roxma/nvim-yarp"
if = "!has('nvim')"

# ==========================================================
# lang
# ==========================================================

[[plugins]]
repo = 'thinca/vim-quickrun'
hook_add = '''
source ~/.config/nvim/plugins/quickrun.rc.vim
'''

[[plugins]]
repo = 'osyo-manga/shabadou.vim'

[[plugins]]
repo = 'derekwyatt/vim-scala'
